version: "3"
services:
  app: &main
    build: .
    image: keboola/db-writer-mysql
    working_dir: /code
    environment:
      DB_HOST: mysql
      DB_SSL_HOST: mysql-ssl
      DB_SSL_BAD_CN_HOST: mysql-different-cn
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: rootpassword
      DB_DATABASE: test
    volumes:
      - ./docker/ssl/certificates:/ssl-cert
      - ssh-keys:/root/.ssh
    links:
      - mysql
      - mysql-ssl
      - mysql-ssl:mysql-different-cn
      - sshproxy
    depends_on:
      - sshproxy

  dev:
    <<: *main
    volumes:
      - .:/code
      - ./docker/ssl/certificates:/ssl-cert
      - ssh-keys:/root/.ssh
      - ./data/:/data/

  wait:
    image: waisbrot/wait
    depends_on:
      - mysql
      - mysql-ssl
      - sshproxy
    environment:
      - TARGETS=mysql:3306,mysql-ssl:3306,sshproxy:22
      - TIMEOUT=120

  mysql:
    image: mysql:${MYSQL_VERSION:-latest}
    command: mysqld --local-infile --port=3306 --default-authentication-plugin=mysql_native_password
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: test
      MYSQL_ROOT_PASSWORD: rootpassword

  mysql-ssl:
    image: mysql:${MYSQL_VERSION:-latest}
    command: mysqld --local-infile --port=3306 --default-authentication-plugin=mysql_native_password
    volumes:
      - ./docker/ssl/certificates:/ssl-cert
      - ./docker/mysql-ssl/${MYSQL_VERSION}/conf.d:/etc/mysql/conf.d
    environment:
      MYSQL_DATABASE: test
      MYSQL_ROOT_PASSWORD: rootpassword

  sshproxy:
    image: keboola/db-component-ssh-proxy:latest
    links: 
      - mysql
      - mysql-ssl
    volumes:
      - ssh-keys:/root/.ssh

volumes:
  ssh-keys: